.links{
    color: red;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 2px solid #fbe000;
}

.links:active{
    background-color: #fbe000;
    color: wheat;
}

.links:visited{
    color: #000;
    border-color: #000;
}